{
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "react-app",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": "off",
    "no-unused-vars": "warn",
    "no-trailing-spaces": [
      "warn",
      {
        "skipBlankLines": true
      }
    ],
    "no-return-assign": 0,
    "eol-last": 0
  }
}