html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat', 'Open Sans Condensed', sans-serif !important;
    font-weight: 300;
    letter-spacing: -0.01em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: default;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(/fonts/Montserrat-Regular.ttf) format('truetype');
}
